<%= form_with(model: place, local: true) do |form| %>
  <% if place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(place.errors.count, "error") %> prohibited this place from being saved:</h2>

      <ul>
      <% place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :place_name %>
    <%= form.text_field :place_name %>
  </div>

  <div class="field">
    <%= form.label :place_address %>
    <%= form.text_field :place_address %>
  </div>

  <div class="field">
    <%= form.label :place_commune %>
    <%= form.text_field :place_commune %>
  </div>

  <div class="field">
    <%= form.label :place_city %>
    <%= form.text_field :place_city %>
  </div>

  <div class="field">
    <%= form.label :place_contact_name %>
    <%= form.text_field :place_contact_name %>
  </div>

  <div class="field">
    <%= form.label :place_contact_cellphone %>
    <%= form.text_field :place_contact_cellphone %>
  </div>

  <div class="field">
    <%= form.label :place_contact_email %>
    <%= form.text_field :place_contact_email %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
